manifest {
    homePage = 'https://github.com/FredHutch/crispr-screen-nf/'
    description = 'Analysis of NGS data from CRISPR screens'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}

params {

    help = false
    scale_cutoff = 1
    trim_3_prime = -8
    trim_5_prime = 32

    suffix_list = "trimmed gz fq fastq fna fasta"

    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:v1.2.1_latest"
    container__fastqc = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
    container__multiqc = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
    container__cutadapt = "quay.io/biocontainers/cutadapt:3.4--py37h73a75cf_1"
    container__mageck = "quay.io/biocontainers/mageck:0.5.9.4--py38h8c62d01_1"
    container__mageckflute = "quay.io/biocontainers/bioconductor-mageckflute:1.12.0--r41hdfd78af_0"
    container__mageckvispr = "quay.io/biocontainers/mageck-vispr:0.5.6--py_0"
    container__rmd = "rocker/r-rmd:latest"

}

profiles{
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 1
        }
    }
    testing {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 32.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 4
                memory = 32.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    aws {
        process {
            executor = 'awsbatch'
            errorStrategy = 'retry'
            maxRetries = 1
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 30.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 16
                memory = 120.GB
            }
        }
    }
}
