manifest {
    homePage = 'https://github.com/FredHutch/crispr-screen-nf/'
    description = 'Analysis of NGS data from CRISPR screens'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}


profiles{
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 1
        }
    }
    testing {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 32.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 4
                memory = 32.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    aws {
        process {
            executor = 'awsbatch'
            errorStrategy = 'retry'
            maxRetries = 1
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 30.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 16
                memory = 120.GB
            }
        }
    }
}
